# MongoDB Connection
MONGODB_URI=mongodb+srv://website:038jYER6jKUDqxqC@cluster0.2c2cpjd.mongodb.net/?appName=Cluster0
# Admin Credentials
ADMIN_USERNAME=fathirsthore
ADMIN_PASSWORD=DX#55asDf

# Payment Gateway - Atlantik (QRIS A)
ATLANTIK_API_KEY=RjKJLZZ85o3xlTSlNOiR85mI6b2UZgHF0gUI9pKsegqMDPTI5SYyLebs7Lsy1GpW5LHtG47IFC6eDrK1dDNWNmE3Q3WdStDGjzEC
ATLANTIK_BASE_URL=https://atlantich2h.com

# Payment Gateway - Pakasir (QRIS B)
PAKASIR_API_KEY=56j5JPPoiibcmyEQ5FOPsrPj8UnsXxId
PAKASIR_BASE_URL=https://app.pakasir.com/api

# Pterodactyl Panel
PLTA=ptla_MOk2MyqDrKXMDFXQWwLzGXfTMhIxo551hKbdj0pc6Fz
PANEL_DOMAIN=https://hanzkecemyprivate.panel-xsat.my.id
PANEL_LOCATION_ID=15
PANEL_EGG_ID=1

# Session Secret
SESSION_SECRET=5c7b8d92c8b683971bf723db055d35379a1dcf9b5d43d0962b5d53c19c702f

# Fee Configuration
TRANSACTION_FEE=500
